.clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mostOuter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
}

.alarmList {
    margin: 20px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.alarm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    margin-bottom: 1.5rem;
    border: 1px solid rgb(235, 235, 235);
    padding: 30px 60px;
    border-radius: 50%;
    color: #112466;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.outerSetting {
    position: relative;
}

.editBtn {
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    bottom: 19px;
    left: -27px;
}

.playPauseBtn {
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    bottom: -10px;
    left: -28px;
}

.btnbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btnbar button {
    margin-right: 5px;
}

.setBtn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    gap: 10px;
    color: #112466;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.alarmModalTitle {
    width: 100%;
    color: #112466;
    font-size: 20px;
    font-weight: bold;
}

.modal {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #112466;
    font-family: 'Rubik', sans-serif;
}

.row {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}

.col {
    width: 100%;
    margin: 0 10px;
}

.inputTitle {
    font-weight: bold;
    font-size: 16px;
}

.dividerBar {
    margin: 15px 0;
}

.titleOuter {
    display: flex;
     justify-content: flex-start;
    align-items: flex-start;
}

.playBtn {
    border: unset;
    background-color: white;
    margin-left: 5px;
}

.uploadBtn {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    padding: .375rem .75rem .375rem .75rem;
    height: 40px;
    position: relative;
    /* line-height: 1; */
}

.audioContainer {
    display: flex;
    width: 100%;
}

.audioSelect {
    margin-right: 10px;
    height: 40px;
    line-height: 1;
    width: 100%;
}

.outerContainer {
    display: flex;
    width: 100%;
}

.antCheckboxWrapper {
    color: #112466;
    font-weight: bold;
}

.btnCol {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btnCol :first-child {
    margin-right: 10px;
}

.footerBtn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 18px;
    /* gap: 10px; */
    color: #112466;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.ringModalOuter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
}

.ringTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 160%;
    text-align: center;
    text-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
}

.ringNote {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    text-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
}

.ringTime {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: 70px;
    line-height: 88px;
    text-align: center;
    text-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
}

.ringBtnBar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.specificList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.specificBar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 20px 0;
}

.specificBtn {
    background-color: white;
    color: #112466;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    box-sizing: border-box;
    padding: 20px 15px;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}

.label {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
    color: #112466;
    margin: 10px auto;
}

.table {
    width: 70%;
    margin: 20px auto;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), white;
    background-blend-mode: soft-light, normal;

    /* White Border */

    /*border: 1px solid rgba(255, 255, 255, 0.4);*/
    border: 1px solid #E7EBF0;
    /* Outer Shadow 3 */

    /*box-shadow: -10px -10px 20px #FAFBFF, 10px 10px 20px #E7EBF0;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.table td {
    text-align: center;
}

.table th {
    text-align: center;
}

.exportBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 14px 2px 10px;
    margin-top: 20px;
    color: #112466;
    width: fit-content;
    background-color: white;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.historyOuter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userManual {
    width: 70%;
    margin: 0 auto;
}

.section {
    margin: 30px 0;
}

.que {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #112466;
    /*margin-bottom: 20px;*/
}

.para {
    margin-top: 20px;
    text-align: justify;
}